<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styling/foot_style.css">
    </head>
    <body>
        <footer>
            <h4> <a href="https://www.giantbomb.com/" target="_blank">giantbomb.com </a> </h4>
            <h4> <a href="../pages/about.php">About</a> </h4>
            <h4> <a href="../pages/contact.php">Contact</a> </h4>
            <div id="gap" style="margin: 0 23rem"></div>
            <h4>©2020 MyGameLog</h4>
        </footer>
    </body>
</html>