<!DOCTYPE html>
    <head>
        <link rel="stylesheet" type="text/css" href="../styling/top_style.css">
    </head>
    <body>
        <header>
            <h1>MyGameLog</h1>
            <div id="gap1" style="margin: 0 33rem"></div>
            <h2>Login/Sign Up</h2>
        </header>
        <div style="background-color: white; margin: 1px;"></div>
        <nav>
            <h3> <a href="index.php">Home</a> </h3>
            <h3> <a href="browse.php">Browse</a> </h3>
            <div id="gap2" style="margin: 0 33rem"> </a> </div>
            <input id="s_bar" type="search" placeholder=" Search">
        </nav>
    </body>
</html>