* {
    box-sizing: border-box;
}

footer {
    background-color: #1D9276;
    display: flex;
    width: 100%;
    bottom: 0;
    height: 3rem;
}

.bot {
    padding: 0rem 1rem;
    color: white;
}
