* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
}

.pic {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
    border: 2px solid blue;
}

#image {
    border: solid black 1px;
    padding: 4rem 2rem;
    border: 2px solid black;
}

button {
    background-color: green;
}

.game_info {
    grid-column: 2;
    grid-row: 1;
    border: solid red 2px;
    padding: 0 1rem;
    color: black;
}