* {
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.content {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    grid-template-rows: repeat(2, 1fr);
}

.pic {
    display: flex;
    flex-direction: column;
    grid-column: 1;
    grid-row: 1;
    text-align: center;
    justify-content: space-between;
    padding: 1rem;
}

#image {
    border-radius: 15px 15px 0 0;
    height: 100%;
    width: 100%;
}

button {
    box-shadow: 1px -1px 2px rgb(31, 31, 31);
    border-radius: 0 0 15px 15px;
    background-color: #1D9276;
    border: none;
    color: white;
    font-size: 20px;
}

.game_info {
    grid-column: 2;
    grid-row: 1;
    padding: 0 1rem;
    color: black;
    font-size: 20px;
}

.post {
    grid-column: 1 / 4;
    grid-row: 2;
    color: black;
    font-size: 20px;
    padding: 0 1rem 0 1rem;
}

